@{ 
    ViewBag.Title = "Trang chủ - Sode.com - Đánh số đề uy tín và nhanh nhất";
    ViewBag.MetaDescription = "Xem kết quả xổ số, đánh số đề uy tín và nhanh nhất tại Sode.com";
}

<h1>Homepage 1</h1>